*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

p { margin: 10px 0; }

.i_note { display: inline-block; font-size: 1.6rem; text-align: left; margin: 20px 0; font-style: normal; float: left; color: #df0073; }

.note_big { display: inline-block; width: 100%; font-size: 5rem; font-weight: bolder; }
@media screen and (max-width: 449px) and (min-width: 0) { .note_big { font-size: 3rem; } }

.f-24 { font-size: 24px; line-height: 1.5; }

.f-18 { font-size: 18px; line-height: 1.5; }

.f-20 { font-size: 20px; line-height: 1.5; }

.list-18 { display: inline-block; width: 100%; font-size: 18px; line-height: 1.5; padding-left: 35px; position: relative; }
.list-18:before { display: inline-block; position: absolute; left: 0; content: attr(title); margin-right: 10px; font-size: 18px; }

.list-20 { display: inline-block; width: 100%; font-size: 20px; line-height: 1.5; padding-left: 35px; position: relative; }
.list-20:before { display: inline-block; position: absolute; left: 0; content: attr(title); margin-right: 10px; font-size: 18px; }

.list-18-2 { display: inline-block; width: 100%; font-size: 18px; line-height: 1.5; padding-left: 70px; position: relative; }
.list-18-2:before { display: inline-block; position: absolute; left: 0; content: attr(title); margin-right: 10px; font-size: 18px; color: #e33e72; }
